/* Coolors Exported Palette - coolors.co/5a5353-a07178-e6ccbe-776274-c8cc92 */

/* HSL */
$color1: hsla(0%, 4%, 34%, 1);
$color2: hsla(351%, 20%, 54%, 1);
$color3: hsla(21%, 44%, 82%, 1);
$color4: hsla(309%, 10%, 43%, 1);
$color5: hsla(64%, 36%, 69%, 1);

/* RGB */
$color1: rgba(90, 83, 83, 1);
$color2: rgba(160, 113, 120, 1);
$color3: rgba(230, 204, 190, 1);
$color4: rgba(119, 98, 116, 1);
$color5: rgba(200, 204, 146, 1);